/* common */
html {
  font-size: 62.5%;
  font-family: 'Comic Sans MS', cursive;
  /* リンクアイコンのサイズ */
  --common-link: 26px;
  --midium-link: 26px;
  --small-link: 18px;
  --txtcolor: #000000;
}

/* リンク付きテキストの色を変えない */
a {
  text-decoration: none;
  color: var(--txtcolor);
}
a:link, a:visited {
  color: var(--txtcolor);
}
a[href^="tel:"]{
  pointer-events: none;
}

body {
  margin: 0;
  text-align: center;
}

body p,a {
  font-size: 2.2rem;
  line-height: 1.6rem;
}

header {
  position: relative;
}

header > img {
  margin-top: 32px;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: 60% 100%;
}

header .link {
  position: fixed;
  top: 0;
  width: 100%;
  height: 32px;
  display: flex;
  z-index: 1;
  justify-content: center;
  background-color: white;
}

header .link h1 {
  margin: auto 6rem;
  font: bold 2.8rem 'Corben', cursive;
  color: rgb(46, 13, 13);
  line-height: 2.8rem;
  animation: fuwafuwa 3s infinite alternate ease-in-out;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-.5deg);
  }
  50% {
    transform:translate(0, -2px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(.5deg);
  }
}

header .link ul {
  list-style: none;
  margin: auto 2% auto 32%;
  padding: 0;
  display: flex;
}

header .link ul li {
  margin-left: 34px;
  height: var(--common-link);
}

header .link ul a {
  font: bolder 2.2rem sans-serif;
  color: #2f2f2f;
  display: block;
  margin: 0;
  height: var(--common-link);
}

header .link li:first-of-type a {
  border-bottom: 1px solid transparent;
  transition: all .8s;
}
header .link li:first-of-type a:hover {
  border-bottom: 1px solid currentColor;
}

header .link ul img {
  width: var(--common-link);
  height: var(--common-link);
}

/* ECサイトロゴサイズの調整 */
/* header .link li:nth-last-of-type(-n+2) img { */
/* header .link li:last-of-type img {
  image-rendering: -webkit-optimize-contrast;
  width: auto;
  height: var(--common-link);
} */

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.profile img {
  width: 100px;
  /* border-radius: 50%; */
  object-fit: contain;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  /* margin-bottom: 1rem; */
  margin-left: 2rem;
}

.explanation h1 {
  margin: 0 auto auto 0;
  font: bold 4rem 'Corben', cursive;
  color: rgb(46, 13, 13);
  line-height: 4rem;
  animation: fuwafuwa 3s infinite alternate ease-in-out;
}

.explanation p {
  font-size: 2.6rem;
  margin: 1.2rem 0;
}

.explanation > p:nth-of-type(2) {
  padding-left: 1em;
}

.explanation > p:last-of-type {
  font-size: 1.6rem;
  padding-left: 3rem;
  margin: 0;
}

main .backgrnd {
  margin-top: 20px;
  width: 100%;
  background: 30% 100%/cover url(../img/計量スプーンとコーヒー豆.jpg);
}

main .container {
  background-color: rgba(255, 255, 255, 0.65);
  padding-bottom: 4px;
}

#inside ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1024px;
}

#inside li {
  display: flex;
}

#inside li:nth-child(odd) {
  flex-direction: row-reverse;
}

#inside .pic {
  flex: 1;
  height: 480px;
  opacity: 0;
  transition: opacity 1s;
}
#inside .pic.show {
  opacity: 1;
}

#inside .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#inside .desc {
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  margin-top: 50px;
  display: flex;
  justify-content: right;
}

.overview {
  width: 30rem;
  text-align: left;
  opacity: 0;
}
.overview.show {
  /* opacity: 1; */
  animation: slideIn 1.2s cubic-bezier(0, .21, 0, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.overview > p:first-of-type {
  margin-top: 0;
}

.address p {
  margin: .8rem 0;
}

.overview > p:last-of-type {
  margin: 1rem auto;
}

.overview a {
  line-height: 4rem;
}

.gmap {
  width: 60%;
  height: 0;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 40%;
  opacity: 0;
  transition: opacity 1.3s;
}
.gmap.show {
  opacity: 1;
}

.gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sns {
  margin: 6rem 0 3rem;
  display: flex;
  justify-content: space-evenly;
}

.sns h1 {
  font-size: 3rem;
  margin: 0;
}

.twitter .goto-top {
  display: none;
}

.goto-top {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.goto-top a {
  /* margin-left: 2rem; */
  margin: 0;
  font-size: 1.8rem;
  font-weight: 550;
  border-bottom: 1px solid transparent;
  transition: all .8s;
}
.goto-top a:hover {
  border-bottom: 1px solid currentColor;
  animation: none;
}
.goto-top a:last-of-type {
  font-size: 2.4rem;
}
.goto-top a img {
  height: 1.1em;
  vertical-align: sub;
}

footer {
  background-color: #a0aa8131;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

footer i {
  font-size: 1rem;
}

/* medium screen */
@media (max-width: 1024px) {

  /* header > img {
    margin-top: 40px;
    height: 60vh;
  } */

  /* SNSロゴ等が増えた場合は"flex: 1;" */
  header .link h1 {
    flex: 1;
    /* max-width: 200px; */
    margin: auto 3%;
    /* font-size: 3.2rem; */
    /* line-height: 4rem; */
  }

  header .link ul {
    flex: 2;
    max-width: 220px;
    justify-content: space-between;
    /* margin: auto 1rem auto 9%; */
  }

  header .link ul li {
    margin: 0;
  }

  header .link ul a {
    /* font-size: 2.2rem; */
    height: var(--midium-link);
  }

  header .link ul img {
    width: var(--midium-link);
    height: var(--midium-link);
  }

  /* ECサイトロゴサイズの調整 */
  /* header .link li:nth-last-of-type(-n+2) img { */
  /* header .link li:last-of-type img {
    width: auto;
    height: var(--midium-link);
  } */

  .profile img {
    width: 80px;
  }

  .explanation h1 {
    margin-bottom: 4px;
    font-size: 3.4rem;
  }

  .explanation p {
    font-size: 2.4rem;
    margin: 1.2rem 0;
  }


  #inside .pic  {
    height: 420px;
  }

  .information {
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
  }

  .overview {
    width: 34rem;
    margin: 0 0 22px 8%;
  }
  .overview.show {
    animation: slideIn 1s cubic-bezier(0, .21, 0, 1) 1 forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(180px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .overview p {
    line-height: 1.8rem;
    margin: 16px auto;
  }

  .address {
    display: flex;
  }

  .address p {
    margin: 0;
  }

  .overview > p:last-of-type {
    padding-left: 6.5rem;
    margin: 16px auto 5px;
  }

  .gmap {
    width: 95%;
    margin: 0;
    padding-bottom: 56.25%;
  }

  .sns {
    flex-wrap: wrap;
  }
  
  .goto-top a {
    animation: flicker 1s infinite alternate ease-in-out;
  }
  @keyframes flicker {
    0% {
      border-bottom: 1px solid currentColor;
    }
    100% {
      border-bottom: 1px solid transparent;
    }
  }

  footer .keyword {
    display: flex;
    flex-direction: column;
  }

  footer i {
    display: none;
  }
}

/* small screen */
@media (max-width: 599px) {

  a[href^="tel:"]{
    pointer-events: auto;
  }

  body p,a {
    font-size: 1.6rem;
  }

  header > img {
    margin-top: 23px;
    height: 35vh;
  }

  header .link h1 {
    flex: 1;
    max-width: 130px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 0;
  }

  header .link ul {
    flex: 2;
    max-width: 160px;
    margin-left: auto;
    justify-content: space-between;
  }

  /* header .link ul li {
    margin: 0 10px 0 0;
  } */

  header .link ul a {
    font-size: 1.5rem;
    height: var(--small-link);
  }

  header .link ul img {
    width: var(--small-link);
    height: var(--small-link);
  }

  .profile {
    margin-top: 0;
    align-items: center;
  }

  .profile img {
    width: 50px;
    margin-top: auto;
  }

  .explanation {
    margin: 0 0 0 5px;
  }

  .explanation h1 {
    font-size: 2.6rem;
    margin: 0;
  }

  .explanation p {
    font-size: 1.6rem;
    margin: .5rem 0;
  }
  .explanation > p:last-of-type {
    font-size: 1rem;
    padding-left: 0;
  }

  main .backgrnd {
    margin-top: 10px;
  }

  #inside p {
    margin: 6px auto 20px 20px;
    text-align: left;
  }

  #inside li {
    display: block;
  }

  #inside .pic  {
    height: 240px;
  }

  #inside .desc {
    display: block;
  }

  .information {
    margin-top: 30px;
  }

  .overview {
    width: 30rem;
    margin: 0 auto 10px calc(50% - 14rem + 2em);
  }

  .overview p {
    margin: 8px 0;
  }

  .overview > p:last-of-type {
    padding-left: 3em;
    margin: 4px auto;
  }

  .address p {
    margin: 0;
  }

  .overview a {
    line-height: 2.8rem;
  }

  .sns {
    margin: 3rem 0 2rem;
  }

  .twitter .goto-top {
    margin-top: 5px;
    display: block;
    text-align: left;
  }

  .sns .twitter .goto-top a {
    font-size: 1rem;
  }

  .facebook {
    margin-top: 1rem;
    width: 100%;
  }

  .facebook iframe {
    max-width: 375px;
    width: 100%;
  }

  .goto-top a {
    font-size: 1.4rem;
  }
  .goto-top a:last-of-type {
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
  }
}